/* Fonte da pagina */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

/* Variaveis */
:root {
    --branco: #FBFBFB;
    --cinza: #F7F7F7;
    --rosa-claro: #efd2d7;
    --rosa-salmao: #C48787;
    --rosa-escuro: #fd96ca;
    --preto: #0E0E0E;
    --preto-escuro: #000;

}

body {
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}




