.promocao__container{
    margin-top: 50px;

    border-top: 1px solid var(--preto);
    
}

.promocao__titulo{
    text-align: center;
}

.promocao__texto{
    text-align: center;
    margin: 50px;
    font-weight: 450;
    text-transform: uppercase;
    letter-spacing: 1px;
}